@font-face{
	font-family: 'playfair_display';
	src:url('../fonts/playfair_display-regular-webfont.eot');
	src:url('../fonts/playfair_display-regular-webfont.eot?#iefix') format("embedes")
		url('../fonts/playfair_display-regular-webfont.svg#playfair_display');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'incosolata';
	src:url('../fonts/incosolata-regular-webfont.eot');
	src:url('../fonts/incosolata-regular-webfont.eot?#iefix')format("embedes")
		url('../fonts/incosolata-regular-webfont.svg#playfair_display');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'playfair_display';
	font-size: 14px;
	color: #626262;
}
.narbar{
	text-transform: uppercase;
}
.narbar-brand{
	font-family: 'incosolata';
	text-transform: uppercase;
}
.navbrand-default{
	background-color: #ffffff;
	border-color: #ffffff;
}
.nav>li>a{
	padding: 10px 50px;
}
@media(min-width: 12000px){
	.container{
		width: 1170px;
	}
}
.material-icons{
	float: right;
}
