body {
  background-color: rgba(158, 158, 158, 0.41);
  font-family: 'museo-sans-rounded',sans-serif;
}
#logo{
  width: 140px;
  max-height: 51px;
  margin-left: 20px;
}
/*.navbar-default{
  height: 77px;
  background-color:#616db3;
}
.banner{
  height: 400px;
  background-color: #282d4a;
}
.left-header{
  padding: 90px;
  color: white;
  text-align: center;
}
@media (min-width: 768px)
.navbar {
  /* border-radius: 4px; */
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 70px;
}
.navbar-toggle {
	margin-top: 20px;
}
.banner{
  background-image: url("../Images/banner1.jpg");
  background-size: cover;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
   height: 380px;
   padding: 50px;
   text-align: center;
}
header .intro-text .name {
  display: block;
  text-transform: uppercase;
  font-family: 'museo-sans-rounded',sans-serif;
  font-size: 2.5em;
  font-weight: 1000;
  color: #00ffff;
}
.head-backgroud{
  height: 370px;
  /*margin-bottom: 10px;*/
  background-image: url("../Images/banner1.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.foot-backgroud{
  height: 370px;
  /*margin-bottom: 10px;*/
  background-image: url("../Images/mac-desk.jpg");
  background-position: center center;
  background-size: cover;
  text-align: center;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.footer-signup {
    color: #fff;
    max-width: 760px;
    padding: 97px 0;
    margin: 0 auto;
    text-align: center;
}
.footer-signup_button {
    color: #fff!important;
    background-color: #c9001e;
    border-color: #c9001e;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
    padding: 18px 20px;
    width: auto;
}



.footer-signup_main-header {
    font: 42px 'museo-sans-rounded',sans-serif;
    font-weight: 500;
    color: #fff;
    margin: 0 0 30px 0;
    line-height: 44px;
}
hr{
  width: 10%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 5px;
}

.footer{
  position: relative;
  /*margin-top: 30px;*/
  color: #ffffff;
  background-color: #282d4a;
  padding-bottom: 10px;
}
.footer ul li {
  list-style: none;
  font-size: 16px;
}
.footer ul li a{
  color: #fff;
}
.foot-content{
  padding: 60px 60px 0px 60px;
}
.iConFooter li a img{
  height: 20px;
  width: 20px;
}

/*a{
  color: #00BCD4;
}*/
.right-header{
  padding: 50px;
  margin-right: 50px;
}
.blog-course{
}
h2{
  text-align: center;
  font-size: 35px;
  color: #202544;
}
.introduce{

  text-align: center;
  background-color: white;
  border-radius: 15px;
  max-height: 300px;
  overflow: hidden;
}
label.star {
  float: right;
  padding: 3px;
  font-size: 20px;
  color:#afafaf;
  transition: all .2s;
}
.orange-circle-button {
  float: right;
  box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
  border: .5em solid #E84D0E;
  font-size: 1em;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #e84d0e;
  margin-right: 15px;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  position: relative;
}
div.stars {
  height: 10px;
  float: left;
  width: 124px;
  display: inline-block;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  width: 100%;
  height: 1px;
  color: black;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 16px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #59B2E0;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 7px 0;
  text-transform: uppercase;
  border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #53A3CD;
  border-color: #53A3CD;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #1CB94E;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 7px 0;
  text-transform: uppercase;
  border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #1CA347;
  border-color: #1CA347;
}
.box-info{
  float:left;
}
.box-info .info-text{
  float: right;
}
.box-info img{
  max-height: 300px;
  max-width: 300px;
}
.vertical-info_text{
  text-align: center;
  margin-bottom: 30px;
}
.lib-panel {
    /*margin-bottom: 20px;*/
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    /*background-color: #FFFFFF;*/
}

.blog-how{
  position: relative;
  background-color: white;
}
.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    /*background-color: #FFFFFF;*/
    font-size: 22px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    /*background-color: #d9d9d9;*/
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 16px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}
.no-padding {
    padding: 0;
}
.diliver-circle{
  text-align: center;
  font-size: 6px;
  color: grey;
}
.blog-product{
  padding: 50px;
}
.vertical-info{
  margin-top: 20px;
}

/*//css slide*/
#custom_carousel .item  .top {
    overflow:hidden;
    max-height:300px;
    margin-bottom:15px;
}
#custom_carousel .item {

    color:#000;
    background-color:#fff;
    padding:20px 0;
    overflow:hidden
}
#custom_carousel .item img{
width:100%;
height:auto
}

#custom_carousel .izq 
{
    position:absolute;
  left: -25px;
  top:40%;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px;
}
/* Next button  */
#custom_carousel .der 
{
       position:absolute;
  right: -25px !important;
  top:40%;
  left:inherit;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px;
}
#custom_carousel .controls{

    overflow:hidden;
    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#fff;
    border:0;
}
#custom_carousel .controls .nav{

    padding:0;
    margin:0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background:#fff;
    width: auto;
    border: 0;
}
#custom_carousel .controls li {
    transition: all .5s ease;
    display: inline-block;
    max-width: 100px;
    height: 90px;
    opacity:.5;
}
#custom_carousel .controls li a{
    padding:0;
}
#custom_carousel .controls li img{
width:100%;
height:auto
}

#custom_carousel .controls li.active {
    background-color:#fff;
    opacity:1;
}
#custom_carousel .controls a small {
    overflow:hidden;
    display:block;
    font-size:10px;
    margin-top:5px;
    font-weight:bold
}
.price{
  font-size: 17px;
}