*{
	box-sizing: border-box;
}
body{
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}

@keyframes title{
	50%{
		color: red;
	}
}
h1{
	margin: 30px 0 10px 0;
	color: #404040;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #8E0B00;
	font-family: Georgia;
	animation:title 6s ease infinite;
}
.wrap{
	
	max-width: 1000px;
	margin: auto;
}

img{
	max-width: 100%px;
	max-height: 300px;
}
#main-menu{
	position: relative;
	text-align: center;
	background-color: #ffffff;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}
#main-menu > a:first-child{
	position: absolute;
	padding:4px;
	background-color: #FFFFFF;
	border-radius: 50%;
	top: -89px;
	left: 109px;

}
#main-menu > a:first-child >img {
	max-width: 160px;
	border-radius: 50%;

}
#main-menu a{
	padding: 15px;
	font-size: 20px;
	text-decoration: none;
}
#main-menu a:hover,#main-menu a.active{
	color: black;
}

#main-menu a.active{
	font-weight: bold;
}

.effect{
	padding: 1px;
	border: 1px solid #ddd;
	cursor: pointer;
}
.effect img{
	vertical-align: middle;
	opacity: 1;
}
.effect:hover img{
	opacity: 0.5;
}
#footer{
	margin: 0;
	padding: 30px 0 15px 0;
	border-top: 1px solid #c5c5c5;
}

#chat{
	position: fixed;
	right: 30px;
	bottom: 30px;
}