*{
	box-sizing:border-box;
}

.swrap{
	position: relative;
	margin: auto;
}
span{
	color: red;
}
.h1{
	color: blue;
	text-align: center;
	font-size: 24px;
}
div {
	margin-left: 400px;
	max-width: 400px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
input{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio]{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;

}


