*{
	box-sizing: border-box;
}
body{
	background-color: #FF6666;
	margin: 0;
	padding: 0;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.snow{
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes opacityText {
   0% {opacity: 0}
   100% {opacity: 100}
 }

h1{
	margin: 25px 0 10px 0;
	font-size: 4em;
	line-height: 1.5em;
	text-align: center;
	font-family: auto;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #330000;
	animation:opacityText 6s ease infinite;	
}
#happy{
	text-align: center;
	float: left;
	width: 100%;
	margin-left: 200px;
    height: 100px;
    position: relative;
}
#thiep{
	float: left;
 	margin: 100px 250px 100px 250px;
	width: 100%;
	position: relative;		 
}

img{
    margin: 0 auto;
	max-width: 100%px;
	max-height: 100%px;
}
	