*{
	box-sizing: border-box;
}
body{
	background-color: #E5E5E5;
	margin: 0;
	padding: 0;
}

@keyframes title{
	50%{
		color: red;
	}
}
h1{
	margin: 30px 0 10px 0;
	color: #404040;
	font-size: 32px;
	text-align: center;
	text-transform: uppercase;
	color: #8E0B00;
	font-family: Georgia;

	animation:title 6s ease infinite;
}
.box{
	float: left;
	padding: 5px;
	width: 33,333333%;
	position: relative;	
	border: 1px solid #dddddd;
	border-top - width: 5px;
}

img{
	max-width: 100%px;
	max-height: 300px;
}
#main-menu{
	background-color: #ffffff;
	padding: 15px 0;
	border-bottom: 1px solid #dddddd;
}
#main-menu > a:first-child{
	padding:4px;
	background-color: #FFFFFF;
	border-radius: 50%;


}
#main-menu > a:first-child >img {

	max-width: 160px;
	border-radius: 50%;

}
#main-menu a{
	font-size: 20px;
	text-align: center;
}
#main-menu a:hover,#main-menu a.active{
	color: black;
}

#main-menu a.active{
	font-weight: bold;
}


.wrap{
	max-width: 1000px;
	margin: auto;
}
.effect{
	padding: 1px;
	border: 1px solid #ddd;
	cursor: pointer;
}
.effect img{
	vertical-align: middle;
	opacity: 1;
}
.effect:hover img{
	opacity: 0.5;
}